---
import Heading from "../components/Heading.astro"
import Layout from "../layouts/Layout.astro"

const pageTitle = "Welcome to the Home Page"
const pageText = "This is the main content of the homepage."
---

<Layout title={pageTitle}>
	<h1>Welcome to the Home Page</h1>
	<p>This is the main content of the homepage.</p>
	<p>The quick brown fox jumps over the lazy dog.</p>
</Layout>
